<nav>
  <ul class="border border-primary rounded-pill shadow bg-primary">
    <li>
      <a class="text-white text-decoration-none" href="/">Home</a>
    </li>
    <li>
      <a class="text-white text-decoration-none" href="/past-work">Past Work</a>
    </li>
    <li>
      <a class="text-white text-decoration-none" href="/staff">Staff</a>
    </li>
    <li>
      <a href="/history " class="text-white text-decoration-none">History</a>
    </li>
    <li>
      <a href="/links" class="text-white text-decoration-none">Links</a>
    </li>
    <li>
      <a href="/contact" class="text-white text-decoration-none">Contact</a>
    </li>
  </ul>
</nav>
