<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>
    <h1>Staff</h1>
    <ul>
      <% for (let i = 0; i < staff.length; i++) { %>
      <li><%=staff[i].first_name + " " + staff[i].last_name%></li>
      <% } %>
    </ul>
  </body>
</html>
